body{
    padding: 0;
    margin: 0 auto;
    font-family: "open sans";
}

.header{
    background-image: url("../img/header.jpg");
    background-position: 50% 45%;
    height: 350px;    
}

.header__logo{
    height: 30%;
    padding: 20px;
}

.header__title{
    color: #fff;
    text-align: center;
    position: relative;
    top: 20%;
    font-weight: 900;
    font-size: 4.5rem;
    letter-spacing: 0.8px;
}

.main__container{
    width: 80vw;
    margin: 0 auto;
}

.nav{
    padding-top: 20px;
}

.nav__container{
    margin: 0 auto;
    text-align: center;
    margin-left: 20vw;

}

.nav__btn{
    padding: 10px 60px;
    margin: 0;
    color: #10ad52;
    background-color: #fff;
    border-color: #10ad52;
    border-radius: 2%;
}

.nav__btn--active{
    padding: 10px 60px;
    color: #fff;
    background-color: #10ad52;
    border-color: #10ad52;
    border-radius: 2%;
}

.nav__btn:hover{
    padding: 10px 60px;
    color: #fff;
    background-color: #10ad52;
    border-color: #10ad52;
    border-radius: 2%;
    transition: .2s;
}

.genre__list{
    padding-top: 20px;
}

.genre__container{
    margin: 0 auto;
    text-align: center;
}

.list{
    list-style: none;
}

.genre__item{
    border: 1px solid grey;
    border-radius: 3px;
    margin: 0 auto;
    width: 42vw;
    margin-left: 17vw;
    display: flex;
    flex-wrap: nowrap;
    height: 80px;
    align-content: center;
    padding-top: 0;
}

.genre__item--arrow{
    width: 15px;
    order: 10;
    margin-top: 25px;
    margin-right: 10px;




}

.genre__item--date{
    font-size: 28px;
    font-weight: 600;
    align-self: flex-start;
    position: absolute; 



}

.genre__item--month{
    align-self: flex-end;
    font-size: 24px;

    

}

.genre__item--location{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .5px;
    padding-top: 28px;
}

.genre__item--day{
    color: grey;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .5px;
    position: absolute;
    padding-top: 10px;

}

#big__container{
    order: -2;
    display: flex;
    justify-content: start;
    text-align: center;
    align-content: center;
    width: 400px;
    padding-left: 20px;
}

#small__container{
    order: -3;
    border-right: 1px solid grey;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 80px;
}




